body{
    color: snow;
    background: rgb(49, 249, 96);
    background: radial-gradient(circle, rgba(49,249,96,1) 0%, rgba(35,31,69,1) 100%);
    cursor: url('444.svg'),auto;
}

html{
    
}

button:hover{
    background-color:red;
}

.game{
    width: 400px;
    /* background-color: black; */
    margin: 50px auto;
    border-radius: 20px;
    padding: 20px;
    border: solid black;
}

h1{
    text-align: center;
    
}
.wrapper{
    border-radius: 20px;
    background-color:black;
    padding: 20px;
}

.inputBtn, #dateInput{
    height: 50px;
    border: none;
    border-radius: 10px;
    font-size: 20px;
}

.inputBtn{
    width: 30%;
    float: right;
    cursor: pointer;
}

#dateInput{
    width:60%;
}

#output{
    margin-top: 10px;
    border-radius: 20px;
    background-color:black;
    padding: 20px;
    font-size: 20px;
    font-weight: bold;
    display: none;
}

a button{
    margin: 0 auto;
    display:flex;
}

a{
    text-decoration: none;

}