body{
    font-family: sans-serif;
}
h1{
    text-align: center;
    color:red;
    margin-top: 50px;
}


.me{
    display: flex;
    width: 80%;
    margin: 0 auto;
    text-align: center;
    justify-content: space-between;
    align-items: center;
}

.one{
    flex:1;
    margin: 0;
}

img{
    width: 100%;
    border-radius: 10px;
}

.text{
    flex:3;
}

.games{
    width:80%;
    margin: 20px auto;
    border :solid lightseagreen;
    border-radius: 20px;
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
}

.game{
    background-color: lightseagreen;
    width: 20%;
    margin: 10px auto;
    font-weight: bold;
    text-align: center;
    padding: 10px;
    border-radius: 10px;
    transition: 0.3s;
    cursor: pointer;
}

.game:hover{
    transform:scale(1.1);
}

a{
    color:snow;
    text-decoration: none;
}


